#input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

#input-container label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
}