#project {
  padding: 2rem;
  max-width: 43rem;
  margin: auto;
  color: #222529;
}

#project header {
  display: flex;
  justify-content: space-between;
}

#project h2 {
  font-size: 2rem;
}

#project p,
#project header {
  margin-bottom: 1rem;
}

#project #due-date {
  color: #666;
}